.dropdown-menu li{
    position: relative;
}

.var{
    background-color: #4D4D5C !important;
}
.colorletra{
    color: #fff !important;
    font-weight: bold !important;
    text-transform: uppercase !important;
    font-family: 'Source Code Pro', monospace !important;
}

.colorlogo{
    text-transform: uppercase !important;
    font-family: 'Source Code Pro', monospace !important;
}
#color{
    color: #fff;
}

.estilo{
    text-transform: uppercase !important;
    font-family: 'Source Code Pro', monospace !important;
}
.dropdown-menu .submenu{
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu>li:hover>.submenu{
    display: block;
}

.dropdown-menu .submenu-left{
    right: 100%;
    left: auto;
}

@media screen and (min-width:320px) and (max-width:800px) {
    .dropdown-menu .submenu{
     left: 25%;
     top: 0px;
    }

    .dropdown-menu .multi-menu{
        left: 95%;
    }

    .dropdown-menu .submenu-left{
        left: 50%;
    }

    .colorlogo{
        font-size:medium !important;
    }
    
}

.footer{
    padding: 20px 0;
    position: static;
    margin-top: auto;
    width: 100%;
    background-color: #fff;
}

.footer .social{
    text-align: center;
    padding-bottom: 25px;
    color: blueviolet;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 9px;
}

.footer ul li a:hover{
    opacity: 1;
    color: blueviolet;
}

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    text-transform: uppercase;
}