/* General Styles */

* {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* HEADER */

.title h1 {
    padding: 20px 0;
    text-align: center;
    font-size: 2.9em;
    text-transform: uppercase;
}

/* CONTAINER */

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
}

.contenedor>.header, .contenedor>.conten, .contenedor>.sidebar, .contenedor>.footer, .contenedor>div {
    background: #fff;
    padding: 20px;
}
.conten{
    border: 1px solid #2d3436;
}

.contenedor>.conten {
    grid-column: span 3;
    grid-row: span 4;
}

.conten>.article {
    background: white;
    text-align: justify;
    padding: 20px;
    margin-top: 5px;
    color: #2d3436
}

.conten .article h1,
.conten .article p {
    padding: 10px;
}

.contenedor>.sidebar {
    grid-column: span 2;
    grid-row: span 4;
    background: #b9bcbf;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

contenedor.sidebar iframe,img {
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 5px;
}

.contenedor>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.contenedor>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
    .header {
        text-align: center;
    }
    .contenedor .conten {
        grid-column: 1 / -1;
    }
    .contenedor .sidebar {
        grid-column: 1 / 6;
    }

    .contenedor .related-post {
        grid-column: 1/-1;
    }
    .contenedor.sidebar iframe {
        display: block;
        width: auto;
        margin-top: 5px;
    }

    .contenedor>.related-post {
        background: transparent;
        color: #ffffff;
        height: 180px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
    }
    
}